
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,700&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Roboto:wght@900&display=swap');


*{
    box-sizing: border-box;
}
html, body{
  height: 100%;
}


body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'lato', sans-serif;
    color: #02203C;
}

.tutorial{
  position: absolute;
  width: 95%;
  max-width: 800px;
  /* inset: 8rem; */
  /* width: max-content; */
  background-color: white;
  border-radius: 3px;
  border: 1px solid black;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  z-index: 2;
  padding: 20px;
  padding-top: 15px;
  /* padding-bottom: 21px; */
}

.page-count{
  position: absolute;
  width: max-content;
  right:20px;
  display: inline;
  margin-left: auto;
  
}

.text-muted{

  color: 	#6c757d;


}

.intro-description{
  text-align: center;

}

.tutorial-btns{
  bottom: 0;
}

.tutorial-btn{
  background-color: #2EE59D;
  padding: 8px 15px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 3px;
  

}

.previous-next{
  position: absolute;
  width: max-content;
  right:20px;
  display: inline;
  margin-left: auto;
  
}

.tutorial-img{
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
}

.overlay {
  position: absolute; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  /* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
}

.intro-close-btn{
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  
  cursor: pointer;
}

.next-btn{
  
}

/* .intro-close-btn:hover .intro-modal{
  display: none;
  
} */

.close-intro{
  display: none;
}

.logo{
    width: 40px;
    height: 40px;
}

.logo-area{
    display: flex;
    align-items: center;
    gap: 20px;
}

header{
    padding: 30px 0;
    width: 100%;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    background-color: azure;
}

.display{
    width: 100%;
    flex-grow: 1;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    display: flex;
    justify-content: center;
}

.boxContainer{
  display: flex;
  gap: 10px;
}

footer{
    width: 100%;
    background-color: azure;
    padding: 40px 0;
    display: flex;
    justify-content: space-around;

}

.box{
    /* display: flex;
    justify-content: center;
    align-items: flex-end; */
    position: relative;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 20px;
    /* padding: 0 5px; */
    background-color: azure;
    /* width: 30px; */
    border: 1px solid black;
    padding-bottom: 20px;
    transition: height 0.1s ease, background-color 0.5s ease, left 1s ease, transform 1s ease;
}



.box-3{
    height: 200px;
}


.array-btn{
    cursor: pointer;
}

.bubble-sort-btn{
    cursor: pointer;
}

.arrow{
  background: #2c3e50;
  color: white;
  width: 25px;
  height: 30px;
  position: absolute;
  left: 0;
  bottom:150px;
  transition: transform 0.3s ease;
  opacity: 0;
  border-radius: 3px;
  
  

}

.show{
  opacity: 1;
}

.found{
  transform: translateY(10px);
}

.arrow::before{
  content: "";
  display: block;
  position: relative;
  top:-10px;
  margin: 0 auto;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #2c3e50;
}

.step-sort-btn-2{
    cursor: pointer;
}

.button {
    /* width: 90px;
    height: 35px; */
    padding: 10px 20px;
    margin: 10px;
    
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  .button:active{
    transform: translateY(5px);
  }



/*Range style*/
#range-slider__range {
    appearance: none;
    width: 200px;
    /* margin: 20px; */
    

    height: 10px;
    border-radius: 5px;
    background: #d7dcdf; 
    outline: none;
    padding: 0;
    margin: 0;
  }
  
  /*Range black ⚫ thumb*/
  #range-slider__range::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #2c3e50;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
  }
  
  /*On hover change colour of black thumb into green 🟢 and scale size*/
  #range-slider__range::-webkit-slider-thumb:hover {
    transform: scale(1.1);
    background: #1abc9c;}
  
  #range-slider__range:active::-webkit-slider-thumb {
    transform: scale(1.1);
    background: #1abc9c;}
  
  /*Range current value*/
  #range-slider__value {
    display: inline-block;
    position: relative;
    width: 80px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
  }
  
  #range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: "";
  }
  
  

  @media only screen and (max-width: 400px) {
    header{
        display: block;
    }

    .logo-area{
        justify-content: center;
    }

    .buttons{
        display: flex;
        justify-content: center;
    }
    
    
  }
